@using PagedList.Mvc
@model PagedList.IPagedList<LeaveSystem.Web.Models.Department>
@{
    ViewBag.Title = "所有学院";
}
@Html.Partial("_PageHeader", new ViewDataDictionary { { "head", "所有学院" }, { "name", "创建学院" }, { "des", "查看所有学院的列表，进行管理" }, { "act", "Create" } })

<div class="container ex-container">
    <div class="panel panel-default ex-card">
        <div class="panel-heading ex-card-header">
            @using (Html.BeginForm("Index", "Department", FormMethod.Get, new { @class = "form-inline" }))
            {
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                <input type="submit" class="btn btn-default" value="搜索" />
            }
        </div>
        <div class="panel-body ex-card-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>学院名</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (var department in Model)
                        {
                            <tr>
                                <td>@department.Id</td>
                                <td>@department.Name</td>
                                <td>
                                    @Html.ActionLink("编辑", "Edit", new { id = department.Id }, new { @class = "btn btn-primary btn-xs" })
                                    <a class="btn btn-danger btn-xs delete" data-id="@department.Id" data-toggle="popover" tabindex="0" role="button" title="Dismissible popover" data-content="And here's some amazing content. It's very engaging. Right?">删除</a>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr><td colspan="3">暂无数据</td></tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="panel-footer ex-card-footer text-center">
            @Html.PagedListPager(Model, p => Url.Action("Index", new { p, currentFilter = ViewBag.CurrentFilter, selectedRole = ViewBag.SelectedRoleId }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
        </div>
    </div>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                @using (Html.BeginForm("Delete", "Department", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">注意！</h4>
                    </div>
                    <div class="modal-body">
                        <h1></h1>
                        <input type="hidden" name="id" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">确认</button>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget); // Button that triggered the modal
            var id = button.data('id');
            var name = button.data('name'); // Extract info from data-* attributes
            var modal = $(this);
            modal.find('.modal-body input').val(id);
            modal.find('.modal-body h1').text('确认删除 ' + name + '?');
        });


        $(".pull-right a").each(function (i, item) {
            if (item.innerText === "@ViewBag.Title") {
                $(this).addClass("active");
            }
        });
        $("a.delete").popover("id");
    </script>
}