<div class="ex-page-header ">
    <div class="container">
        <div class="ex-page-topbar">
            <div class="ex-page-titlebar visible-xs">
                <h1 class="pull-left">机构管理</h1>
                <div class="pull-right">
                    <div class="btn-group">
                        @Html.ActionLink("所有学院", "AllDepartment", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有专业", "AllMajor", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有年级", "AllGrade", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有班级", "Index", new { }, new { @class = "btn btn-default btn-sm" })
                    </div>
                </div>
            </div>
            <div class="ex-page-titlebar hidden-xs">
                <h1 class="pull-left">机构管理</h1>
                <span>管理学院，专业，年级，班级</span>
                <div class="pull-right">
                    <div class="btn-group">
                        @Html.ActionLink("所有学院", "AllDepartment", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有专业", "AllMajor", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有年级", "AllGrade", new { }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("所有班级", "Index", new { }, new { @class = "btn btn-default btn-sm" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
