@using System.Web.UI.WebControls
@model StudentOnlineLeaveSystem.Web.Models.UserRegisterViewModel

@{
    ViewBag.Title = "注册";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default ex-card">
            <div class="modal-header panel-heading ex-card-header">
                <h2 class="modal-title">用户注册</h2>
            </div>
            <div class="modal-body ex-card-box-lg">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "学号或工号" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "密码" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password2, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Password2, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "确认密码" } })
                        @Html.ValidationMessageFor(model => model.Password2, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.VerificationCode, new { @class = "control-label" })
                        @Html.EditorFor(model => model.VerificationCode, new { htmlAttributes = new { @class = "form-control", PlaceHolder = "验证码" } })
                        <img id="verificationcode" title="点击刷新" src="@Url.Action("VerificationCode","Home")" style="cursor:pointer" />
                        @Html.ValidationMessageFor(model => model.VerificationCode, "", new { @class = "text-danger" })
                    </div>
                    <div id="readmeFormGroup" class="checkbox">
                        <label>
                            <input type="checkbox" name="readme"> 我同意接受本站的《<a href="#">使用协议</a>》
                        </label>
                    </div>
                    <button type="submit" name="submit" class="btn btn-lg btn-success btn-block" data-loading-text="正在提交注册...">确认注册</button>
                }
            </div>
        </div>
        <div class="ex-card">
            <div class="ex-card-body">
                <div class="form-group">
                    <a href="#" class="btn btn-link btn-block">已经有账号？立即登录 »</a>
                </div>
            </div>
        </div>
    </div>
</div>
