@model LeaveSystem.Web.ViewModels.LoginViewModel
@{
    ViewBag.Title = "登录";
}

<div class="container ex-margin-container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="panel panel-default ex-card">
                <div class="panel-heading ex-card-header ex-card-login-header">
                    <img class="center-block img-circle" src="~/Images/head-unlogged.png">
                    <h2 class="text-center">登录</h2>
                </div>
                <div class="modal-body ex-card-box-lg">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label sr-only" })
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "工号/学号" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label sr-only" })
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "请输入密码" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.VerificationCode, htmlAttributes: new { @class = "control-label sr-only" })
                            @Html.EditorFor(model => model.VerificationCode, new { htmlAttributes = new { @class = "form-control", placeholder = "请输入验证码", autocomplete = "off" } })
                            <img id="verificationcode" src="@Url.Action("VerificationCode", "Account")" style="cursor: pointer" />
                            @Html.ValidationMessageFor(model => model.VerificationCode, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox-inline">
                                @Html.CheckBoxFor(model => model.RememberMe)
                                @Html.LabelFor(model => model.RememberMe)
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input type="submit" class="btn btn-success btn-block btn-lg" value="登录">
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="ex-card">
                <div class="ex-card-body">
                    <div class="row">
                        <div class="form-group col-xs-6">
                            <a href="#" class="btn btn-link btn-block">忘记密码？请找回密码</a>
                        </div>
                        <div class="form-group col-xs-6">
                            <a href="#" class="btn btn-link btn-block">还没有账号？请先注册 »</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}